/*
*= require normalize.css/normalize
*/

.bespoke-parent {
    -webkit-text-size-adjust: auto;
    -ms-text-size-adjust: auto;
    text-size-adjust: auto;
    overflow: hidden;
}

.bespoke-parent, .bespoke-scale-parent {
    perspective: 600px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bespoke-scale-parent {
    pointer-events: none;
}

.bespoke-scale-parent .bespoke-active {
    pointer-events: auto;
}

.bespoke-slide {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -320px;
    margin-top: -240px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.bespoke-inactive, .bespoke-bullet-inactive {
    opacity: 0;
    pointer-events: none;
}

.bespoke-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
}

.bespoke-backdrop-active {
    opacity: 1;
}

.bespoke-progress-parent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: .3vw;
}

.bespoke-progress-bar {
    position: absolute;
    height: 100%;
    background: #ccc;
    transition: width .6s ease;
}

.emphatic {
    background: #222;
}

.emphatic-text {
    color: #fff;
}

figure.canvas {
    display: none;
}