/*
*= require /font-awesome/css/font-awesome.min
*= require /highlightjs/styles/darkula
*= require /themes/black
*/

.bespoke-slide .colist table {
  border-collapse:collapse;
}

.bespoke-slide .colist table td, .bespoke-slide .colist table th {
  background: none;
}

.bespoke-slide code, .bespoke-slide pre {
  font-size: .8em;
}

.bespoke-slide figcaption {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #C14200;
}

.bespoke-parent {
  background-image: url("gradle.png"), url("2015-OPI-Logo-Long.png");
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 20%;
}
