/*
*= require /font-awesome/css/font-awesome.min
*= require /highlightjs/styles/darkula
*= require /themes/black
*/

article.parrot h2 {
    padding: 1em;
    text-transform: uppercase;
    display: block;
    background: linear-gradient(270deg, #39daff, #478fd5, #50ec56, #e41e1e);
    background-size: 800% 800%;

    -webkit-animation: partyParrot 1s ease infinite;
    -moz-animation: partyParrot 1s ease infinite;
    animation: partyParrot 1s ease infinite;
}

@-webkit-keyframes partyParrot {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes partyParrot {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes partyParrot {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.bespoke-slide .colist table {
  border-collapse:collapse;
}

.bespoke-slide .colist table td, .bespoke-slide .colist table th {
  background: none;
  border-bottom: none;
}

.bespoke-slide code, .bespoke-slide pre {
  font-size: .8em;
}
.bespoke-slide figcaption {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #C14200;
}
