/*
*= require /font-awesome/css/font-awesome.min
*= require /highlightjs/styles/darkula
*= require /themes/black
*/

@font-face {
    font-family: "True Crimes";
    src: url(true-crimes.ttf);
}

.bespoke-slide h1,
.bespoke-slide h2,
.bespoke-slide h3 {
    font-family: "True Crimes", Helvetica, sans-serif;
    line-height: 1.2em;
    letter-spacing: normal;
    text-transform: uppercase;
    word-wrap: break-word;

    background: -webkit-linear-gradient(top, #ebb700, #c96200);
    background: linear-gradient(top, #ebb700, #c96200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: .02em;
}

.bespoke-slide .colist table {
  border-collapse:collapse;
}

.bespoke-slide .colist table td, .bespoke-slide .colist table th {
  background: none;
}

.bespoke-slide code, .bespoke-slide pre {
  font-size: .8em;
}
